.shape {
    display: flex;
    gap: 10px;
    line-height: 150px;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
    .square1 {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 20%;
    text-align: center;
    flex-direction: column;
    line-height: 150px;
}
.circle {
    width: 150px;
    height: 150px;
    background-color: brown;
    border-radius: 50%;
    text-align: center;
    position: relative;
    
}
.square2 {
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 20%;
    text-align: center;
    line-height: 150px;
}
